<h1>Make a New BBQ</h1>

<%= form_for @bbq do |f| %>
    <%= f.label :brand %>
    <%= f.text_field :brand %>

    <%= f.label :quality %>
    <%= f.text_field :quality %>

    <%= f.collection_select :dad_ids, Dad.all, :id, :name %>

    <%= f.submit %>
<% end %>